:root {
    
}

body {

}

header {
    text-align: center;
    background: linear-gradient(to bottom,#c00000de, #c71111de,#d63030de );
    color: white;
    font-size: 20px;
}

.header {
    padding: 45px;
}

header, h2{
    font-size: 15px;
}

nav, a{
    text-align: left;
    word-spacing: 5px;
    width: 100%;
    text-decoration: none;
}

nav > a {
    color: white;
}

main {
    text-align: center;
    background-color: rgb(255, 236, 213);
    margin-left: 10%;
    margin-right: 10%;
    border: 2px black solid;
}

.doc {
    background-color: rgb(255, 236, 213);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px black solid;
    border-radius: 20px;
}

.doc > h1 {
    color: rgb(146, 1, 1);
    background: linear-gradient(to right,#c00000de, #c71111de,#d63030de, #e65252de, #f77b7bde, #ffadadde, #ffd7d7de);
    text-align: left;
    padding-left: 5%;
    font-size: 25px;
}

.doc > h2 {
    color: rgb(146, 1, 1);
    background: linear-gradient(to right,#c00000de, #c71111de,#d63030de, #e65252de, #f77b7bde, #ffadadde, #ffd7d7de);
    text-align: left;
    padding-left: 5%;
    font-size: 18px;
}

.doc > p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.doc > a {
    color: red;
}

.doc > a::hover {
    color: red;
}

strong {
    color: red;
}


iframe {
    /* position: relative;
    background-color: red;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 59%; */
}

.curiosities > h1 {
    color: rgb(146, 1, 1);
    background: linear-gradient(to right,#c00000de, #c71111de,#d63030de, #e65252de, #f77b7bde, #ffadadde, #ffd7d7de);
    text-align: left;
    padding-left: 5%;
    font-size: 25px;
    border: black solid 2px;
}

.doc > p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}


.list {
    display: flex;
    gap:50%;
    color: black;
    text-align: left;
}

.list > a {
    color: black
}

.curiosities > p {
    text-align: left;
    margin-left: 5%;
}

.text {
    margin-left: 10%;
    text-align: left;
}

