h1{
    color: chocolate;
    background-color: aquamarine;
    padding: 10px;
}

h1:hover{
    color: chocolate;
    background-color: rebeccapurple;
    padding: 15px;
}

h2:hover{
    color: color(srgb red green blue);
    background-color: bisque;
}

h2{
    color:blueviolet;
    background-color: greenyellow;
    width: 50vh;
    display: inline-block;
    padding: 1px;
}

img {
    margin-top: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 70px;
    width: auto;
}


body {
    text-align: center;
    background-image: url(https://i.pinimg.com/1200x/e7/6e/89/e76e893048a48465c26a0474e457710f.jpg)
}